footer {
    width: 100vw;
    height: 160px;
    background-color: rgb(60, 61, 60);
    color: white;
    display: flex;
    align-items: center;
    font-family: Inter;
    position: relative;
}

footer > * {
    margin-left: 100px;
}

.social {
    background-color: rgb(72, 121, 124);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 9px;
    margin-top: 10px;
}

.social > * {
    height: 25px;
    width: 25px;
}

.social-div {
    display: flex;
}

.dev-svg {
    position: absolute;
    right: 100px;
}

.social-head {
    font-size: 17pt;
}