header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(230, 122, 39);
    color: white;
    font-family: Inter;
    font-size: 16pt;
    position: relative;
    justify-content: end;
}

.header-btn {
    background: none;
    border: none;
    color: white;
    font-family: Inter;
    font-size: 16pt;
    cursor: pointer;
    margin-right: 25px;
    border-radius: 5px;
    padding: 5px;
}

.header-btn:hover{
    box-shadow: 0 0 20px rgb(108, 62, 26);
    background-color: rgb(243, 139, 59);
}

.header-h {
    position: absolute;
    left: 80px;
}